@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Poppins;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.header {
  min-width: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 5%;
  height: auto;
  /* border: 2px solid rgb(141, 141, 141);
    border-radius: 10px;
    background-color: rgb(129, 128, 128); */
  flex-direction: column;
  float: right;
}

.img-logo {
  display: flex;
  width: 200px;
  z-index: 1;
  position: absolute;
  filter: drop-shadow(10px 8px 6px #fd82ab);
}

.nav-links {
  text-align: right;
  padding: 20px;
}

.nav-links ul li {
  display: list-item;
  padding: 10px 20px 100px;
  position: relative;
}

.nav-links ul li a {
  color: black;
  font-size: 16px;
}

/* .nav-links ul li a:hover{
width: 100%;
} */

.text {
  padding-top: 100px;
  padding-right: 40%;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* profile */
.card-profile {
  display: flex;
  align-items: center;
  width: 75vw;
  max-width: 650px;
  padding: 50px 30px 50px 20px;
  background: #ffffff;
  border-radius: 24px;
  background-color: rgb(255, 255, 255);
  margin-left: 200px;
  border: solid black 1px;
}

.profile{ /* change position on first page with padding top and right*/ 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-right: 100px;
}
.card-profile img {
  max-width: 200px;
  width: 28vw;
  height: 200px;
  object-fit: cover;
  margin-left: -60px;
  margin-right: 30px;
  border-radius: 100%;
  /* box-shadow: 0 60px 40px rgb(0 0 0 / 8%); */
}

.card-profile h2 {
  font-size: 22px;
  margin-right: 30px;
}

.card-profile h3 {
  font-size: 16px;
  font-weight: 400;
  color: rgb(0 0 0 / 90%);
}

.card-profile p {
  font-size: 14px;
  font-weight: 400;
  color: rgb(0 0 0 / 70%);
  margin-bottom: 24px;
}

.card-profile button {
  border: 0;
  background: #ff0055;
  color: #f8f8f8;
  font-family: inherit;
  padding: 16px 26px;
  font-size: 16px;
  border-radius: 40px;
  margin-left: 70px;
}

@media (width <= 600px) {
  .card-profile {
    margin: 0 40px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    text-align: center;
    flex-direction: column;
  }

  .card-profile h2 {
    margin-right: 0;
    font-size: 26px;
  }

  .card-profile img {
    margin: -100px 0 30px 0;
    width: 100%;
    max-width: 1000px;
  }
}

/* .img-perfil{
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil{
    
    width: 200px;
    height: 180px;
   border: 2px solid black;
   border-radius: 50%;
} */

.about {
  width: 80%;
  margin: auto;
  text-align: acenter;
  padding-top: 200px;
}

.about-h1 {
  font-size: 36px;
  font-weight: 600;
}

.p-about {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.projects .p-projects {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
  text-align: center;
}

.row {
  display: flex;
  align-items: center;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 20px;
  gap: 20px;
}

.project {
  flex-basis: 28%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  background-color: rgb(189, 189, 189);
  width: 200px;
  height: 200px;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  justify-content: center;
  align-items: center;
  display: flex;
}

.loading {
  position: absolute;
  font-size: 30px;
  text-align: center;
  transition: 0.5s;
}

typing-animation {
  animation: blinkCursor 500ms infinite normal;
}

@keyframes blinkCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.layer:hover {
  background: rgba(255, 255, 255, 0.7);
  color: rgb(0, 0, 0);
}

.container {
  position: relative;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.card {
  position: relative;
  max-width: 300px;
  height: 220px;
  background-color: #ececec;
  margin: 30px 10px;
  border-radius: 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 05px 20px rgb(114, 113, 113);
  transition: 0.5s ease-in-out;
  align-items: center;
  justify-content: center;
}

.card:hover {
  height: 420px;
}

.img-box {
  position: relative;
  width: 280px;
  height: 155px;
  border-radius: 10%;
  top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  box-shadow: 10px 10px 20px rgb(255, 255, 255);
}

.container .card .img-box img {
  max-width: 100%;
  border-radius: 10px;
}

.container .card .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #000000;
  visibility: hidden;
  opacity: 0;
  transition: 0.3 ease-in-out;
}

.container .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.4s;
}

.p-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* video{
    width: 250px;
    

} */

@media (max-width: 600px) {
  .text {
    font-size: 12px;
    text-align: center;
  }

  /* .nav-links{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    width: 5%;
    height: auto;
    flex-direction: column;
    float: right;
    } */

  .container {
    display: grid;
    grid-column: 1fr;
    transition: 0.5s;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  .loading {
    text-align: center;
    font-size: 100%;
    transition: 0.5s;
  }
}

/*------------------- Footer-------------- */

.contact {
  position: inherit;
  left: 0;
  bottom: 12px;
  width: 100%;
  /* background:; */
  padding-top: 60px;
}

footer {
  display: flex;
  align-items: center;
  gap: 100px;
  margin: 0 30px;
}

@media (width < 620px) {
  footer {
    flex-direction: column;
  }

  footer.bottom {
    gap: 16px;
    flex-direction: column-reverse;
  }
}

.logo-footer {
  margin-top: 10px;
  width: 200px;
  justify-content: space-between;
}

@media (width >= 620px) {
  footer {
    margin: 0 auto;
    max-width: 600px;
    padding: 0;
  }
}

footer {
  color: #000000;
}

footer.top {
  border-bottom: 2px solid #3a4f6a;
  padding-bottom: 20px;
}

footer.bottom {
  padding: 20px 0;
  justify-content: space-between;
}

footer.top .links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.links > div {
  display: grid;
  gap: 10px;
  margin-bottom: 30px;
}

footer h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #f7f7f7;
}

.legal {
  font-size: 12px;
}

.legal > a {
  margin: 0 4px;
}

.legal .rights {
  margin-left: 220px;
}

footer.bottom .links {
  display: flex;
  gap: 18px;
}

footer.bottom .links > a {
  font-size: 24px;
}

@media (width < 600px) {
  footer {
    text-align: center;
    align-items: center;
  }

  footer.top .links {
    grid-template-columns: 1fr;
  }

  footer.bottom {
    align-items: center;
  }

  .legal .rights {
    display: block;
    margin-left: 10px;
    margin-bottom: 2px;
  }
}
